/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --bg-color:#4F709C;
    --search-bg:#213555;
}

*{
    font-family: 'Poppins', sans-serif;
}

.search-bar{
    border-radius: 10px 0 0 10px;
    outline: none;
}
.submit-btn{
    border-radius: 0 10px 10px 0;
    background:rgba(255,255,255,0.2)
}
.submit-btn:hover{
    background:rgba(255,255,255,0.4)
}